<div class="form-group">
    <label for="{{ name }}">{{ label }}:</label>
    <select id="{{ name }}" name="{{ name }}" class="select-input">
        <option value="">— (Deaktiviert)</option>
        
        {% for ch in voice_channels %}
            <option value="{{ ch.id }}" {% if ch.id|string == current_id %}selected{% endif %}>{{ ch.name }}</option>
        {% endfor %}
    </select>
    <small class="note-text">Wählt den Kanal, den Nutzer betreten, um einen temporären Kanal zu erstellen.</small>
</div>